/* src\components\FormularioCadastro\styles.css */

.container-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;      /* Use vw para garantir largura total */
    height: 100vh;     /* Use vh para garantir altura total */
    overflow: hidden;
    z-index: 0;  
    animation: fadeInVideo 2s ease-out forwards, blurReveal 2.3s ease-out forwards;

}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
}

.square-cadastro {
    object-fit: cover;
    width: 300px;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: whitesmoke;
    z-index: 1;
    position: absolute;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.15;
    background: white;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    
}

h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #284ea7;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
input,
button,
select,
option {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
  
input {
    border: 1px solid #ccc;
}

input:focus {
    border-color: #0085f1;
    outline: midnightblue;
    box-shadow: 0 0 5px rgba(0, 133, 241, 0.5);
}

select{
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
}


select:focus {
    border-color: #0085f1;
    outline: midnightblue;
    box-shadow: 0 0 5px rgba(0, 133, 241, 0.5);
}



/* Aplica a animação quando o select está ativo (clicado) */
select:active {
    animation: selectClick 0.25s;
}

button {
    margin-top: 10px;
    transition: 0.3s;
    background-color: #020a4d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    color: #d0d331;
    box-shadow:  inset 0 -100px 0 0 #020a4d;
    transform: scale(1.03);
}

.link-jogadores .link-voltar {
    margin-top: 25px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 14px;
}
  
.link-jogadores:hover .link-voltar:hover {
    text-decoration: none;
}


